<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h3>Continuous Development Process</h3>
    <p><table cellpadding="100px"><tr>
    <td><img alt="Feedback" src="/assets/feedback.png" width="150px;"></td>
    <td style="padding-left: 200px;"><img alt="Feedback" src="/assets/reflection.png" width="150px;"></td>
    <td style="padding-left: 200px;"><img alt="Feedback" src="/assets/summary.png" width="150px;"></td>
  </tr></table>


    </p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="col-xs-4">
      <h2>Context</h2>
      <p>Capture your goals and expectations for the year.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-xs-4">
      <h2>Feedback</h2>
      <p>Gather your feedback from thoughtworkers and clients and enter it throughout the year. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="col-xs-4">
      <h2>Build your case</h2>
      <p>Your book report contains a collection of questions to which you can answer to build your case.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2013</p>
  </footer>

</div> <!-- /container -->
