// Place all the styles related to the AnnualSummaryReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orange .active a,
.orange .active a:hover {
  background-color: orange !important;
}

.answerTextArea   {
  width: 100%;
  height: 100px;
}

.question{
  font-size: 16px;
}

.greenbutton {
  color: white !important;
  font-weight: bold;
  background-color: #468847!important;
}

.orangeBackground {
  background-color: #FF9966!important;
  border-color: FFCC66!important;
  color: white!important;
}
