// Place all the styles related to the AnnualSummaryReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orange .active a,
.orange .active a:hover {
  background-color: orange !important;
}

.answerTextArea   {
  width: 100%;
  height: 100px;
}

.question{
  font-weight: bold;
}


.annual_summary_row {
  color: #9e785f;
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

