/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";

$light_blue: #30bdce;
$med_blue: #008ba5;
$orange: #f58e3d;

body {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
}

.font-awesome-icon {
  font-size: 20px;
  color: $light_blue;
}

.icon-div {
  text-align:center;
  width: 40px;
  float:left;
  margin: 5px;
}

.icon-bottom {
  font-size: 10px;
}

.navbar{
   background-color: $light_blue!important;
   color: white!important;
}

.navbar-inverse .navbar-nav > li > a {
  color: white!important;
}

.navbar-inverse .navbar-brand {
  color: white!important;
}

#user_remember_me {
  margin-left: 0px;
}

.greenbutton {
  color: white !important;
  font-weight: bold;
  background-color: #468847!important;
}

.orangeBackground {
  background-color: #ff9900!important;
  border-color: black!important;
  color: white!important;
  opacity:  1.0;
}

.black-gradient {
  color: white!important;
  font-weight: bold!important;

  background: -webkit-linear-gradient(#888888, black); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#888888, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#888888, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#888888, black); /* Standard syntax (must be last) */
  opacity: 0.9;
}


.orange-gradient {
  color: white!important;
  font-weight: bold!important;

  background: -webkit-linear-gradient(#FFCC99, #FF9900); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#FFCC99, #FF9900); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFCC99, #FF9900); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFCC99, #FF9900); /* Standard syntax (must be last) */
}

.blue-gradient {
  color: white!important;
  font-weight: bold!important;

  background: -webkit-linear-gradient(#66CCFF, #336699); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#66CCFF, #336699); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#66CCFF, #336699); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#66CCFF, #336699); /* Standard syntax (must be last) */
}

.pink-gradient {
  color: white!important;
  font-weight: bold!important;

  background: -webkit-linear-gradient(#FFCCCC, #ef5ba1); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#FFCCCC, #ef5ba1); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFCCCC, #ef5ba1); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFCCCC, #ef5ba1); /* Standard syntax (must be last) */
}

.gray-gradient {
  color: #9e785f!important;
  font-weight: bold!important;

  background: -webkit-linear-gradient(#F0F0F0, #eeeeee); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#F0F0F0, #eeeeee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#F0F0F0, #eeeeee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#F0F0F0, #eeeeee); /* Standard syntax (must be last) */
}

.pink {
  background-color: #ef5ba1!important;
  border-color: #ef5ba1;
  color: white!important;
  font-weight: bold!important;
}

.panel-primary > .panel-heading {
  color: white;
  background-color: $orange;
  border-color: $orange;
}

.panel-primary {
  margin-top: 30px;
  border-color: $orange;
}

.btn-blue {
  color: white;
  border-color: $med_blue;
  background-color: $light_blue;
}

.btn.active, .btn:active {
  background-color: $med_blue;
  color: white;
}

.btn-primary, .submit, .authform .button, .button-xs {
  color: white;
  border-color: #000;
  background-color: #000;
  background: -webkit-linear-gradient(#888888, black); /* For Safari 5.1 to 6.0*/
  background: -o-linear-gradient(#888888, black); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#888888, black); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#888888, black); /* Standard syntax (must be last) */
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  color: white;
  background-color: $med_blue;
}

.thesiteblue {
  color: white;
  background-color: #7dcad2;
  font-weight: bold;
}
